.page-visible{
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  height: calc(100vh - 100px);
  transition: all 1s ease;
  overflow: hidden;
}
.page-hidden{
  min-height: 0;
  max-height: 0;
  height: 0px; 
  overflow: hidden;
  opacity: 0;
  display: none;
  transition: all 1s ease;
}
.switch-visible{
  border: solid 2px #cecece;
  border-width: 0px;
  border-bottom-width: 4px;
}
.switch-hidden{
  border: solid 2px transparent;
  border-width: 0px;
  border-bottom-width: 0px;
}